.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}

.card {
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  background-color: #ffffffb2;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.character-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .character-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .character-container {
    grid-template-columns: 1fr 1fr;
  }
}

.card-image-container{
  position: relative;
  overflow: hidden;
}

.card-background {
  width: 80%;
  height: 200px;
  object-fit: cover;
  filter: blur(5px);
  opacity: 0.5;
}

.card:hover .card-foreground {
  filter: drop-shadow(10px 10px 10px rgba(255, 238, 0, 0.5));
}

.card-foreground {
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  position: absolute;
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.5));
  transition: filter 0.3s ease-in-out;
}

.card-details {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.card-details li {
  padding: 5px;
  font-weight: bold;
}