
.dialog {
  width: 80%;
  max-width: 600px;
  height: 80px;
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgb(207, 207, 207);
}

.combat-container {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 10px;
  display: flex;
  position: relative;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/736x/16/53/35/16533595d7f56bfd42948a9378b05f9e.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.enemy {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 10px;
  right: 0px;
}

.player-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  left: 0px;
  align-items: end;
}

.player {
  width: 250px;
  height: 250px;
}

.actions {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

button {
  height: 40px;
  background-color: white;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 3px 3px 12px black;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translate(2px, 2px);
}

.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center; 
}

.card-foreground {
  height: 80%;
  object-fit: cover;
  margin: auto;
}

.card-details {
  text-align: center;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  font-size: 14px;
  background-color: white;
}
