body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-image: url('../res/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  height: 200px;
  object-fit: contain;
  margin-bottom: 50px;
}

.audio-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.page-container button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 40px
}

.page-container button:hover {
  background-color: #ebfc06;
  transform: scale(1.1);
}

.page-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ffffff;
  transform: none;
}
